In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import scipy.stats as st
from pathlib import Path

In [2]:
#pull in CSV df - 2019 through 2021 - vehicle csv

In [3]:
#clean data for CA (Legal) -  years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

#legal_2019_df = cleaned2019.loc[(cleaned_2019['STATE']== "6")]

In [4]:
#clean data for (Somewhat Legal) - years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

#somewhat_legal_2019_df = cleaned_2019.loc[cleaned_2019['STATE'].isin([15,49])]

In [5]:
#clean data for (Illegal) - years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

#illegal_2019_df = cleaned_2019.loc[~cleaned_2019['STATE'].isin([6,15,49,30,35,48,40,29,5,28,20,39,54,37,34,43,52])]

In [6]:
#clean data for (Not Mentioned) - years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

#not_mentioned__2019df = cleaned_2019.loc[cleaned_2019['STATE'].isin([30,35,48,40,29,5,28,20,39,54,37,34])]

In [25]:
# Data of motorcycle registration numbers cleaned and displayed

motorcycle_df = pd.read_csv("Resources/motorcycles.csv")

motorcycle_clean= motorcycle_df.drop(0)
column_names = motorcycle_clean.iloc[0].fillna("State")
motorcycle_clean.columns = column_names
motorcycle_clean = motorcycle_clean.drop([1,54,55])
motorcycles_df = motorcycle_clean[["State", "2019","2020","2021"]]
motor_reg= motorcycles_df.copy()

motor_reg[["2019", "2020","2021"]] = motor_reg[["2019", "2020","2021"]].astype(str).apply(lambda x: x.str.replace(',', ''))
motor_reg[["2019", "2020","2021"]] = motor_reg[["2019", "2020","2021"]].astype(float)


motor_reg

1                  State       2019       2020       2021
2                Alabama   173652.0   171077.0   167021.0
3                 Alaska    24340.0    23918.0    23068.0
4                Arizona   212951.0   216705.0   222484.0
5               Arkansas    71764.0    70586.0    72474.0
6             California   957620.0   957873.0   952977.0
7               Colorado   189449.0   202474.0   201364.0
8            Connecticut    91296.0    89805.0    88061.0
9               Delaware    26571.0    26594.0    26729.0
10  District of Columbia     5290.0     5254.0     5020.0
11               Florida   601849.0   620892.0   645012.0
12               Georgia   214722.0   218478.0   227548.0
13                Hawaii    59614.0    36012.0    34781.0
14                 Idaho    66797.0    68020.0    69009.0
15              Illinois   299528.0   303917.0   284754.0
16               Indiana   229343.0   230658.0   234393.0
17                  Iowa   164643.0   168488.0   168413.0
18                Kansas   103165.0   102181.0   100662.0
19              Kentucky   115832.0   118656.0   121729.0
20             Louisiana    84899.0    82226.0    80456.0
21                 Maine    60103.0    61392.0    59995.0
22              Maryland   113109.0   111553.0   113716.0
23         Massachusetts   145532.0   144633.0   147846.0
24              Michigan   248058.0   245079.0   234781.0
25             Minnesota   209731.0   208363.0   203521.0
26           Mississippi    50284.0    50443.0    51458.0
27              Missouri   135917.0   131772.0   126799.0
28               Montana    62645.0    65430.0    68439.0
29              Nebraska    53998.0    57371.0    57388.0
30                Nevada    77629.0    82090.0    82998.0
31         New Hampshire    82637.0    83272.0    84453.0
32            New Jersey   161241.0   162148.0   154288.0
33            New Mexico    63722.0    64578.0    64600.0
34              New York   369328.0   368838.0   363573.0
35        North Carolina   237055.0   243437.0   250075.0
36          North Dakota    37442.0    37084.0    35373.0
37                  Ohio   392782.0   392928.0   389657.0
38              Oklahoma   118018.0   118480.0   119444.0
39                Oregon   130942.0   131457.0   129304.0
40          Pennsylvania   398363.0   400550.0   385159.0
41          Rhode Island    28194.0    27516.0    27391.0
42        South Carolina   140702.0   146213.0   148851.0
43          South Dakota    51121.0    51227.0    51026.0
44             Tennessee    81071.0   164359.0   173725.0
45                 Texas   377120.0   393897.0   380830.0
46                  Utah    89646.0    93185.0    96664.0
47               Vermont    24108.0    24054.0    22848.0
48              Virginia   197135.0   196469.0   188042.0
49            Washington   246264.0   241849.0   242723.0
50         West Virginia    52196.0    52915.0    49563.0
51             Wisconsin   324126.0   311849.0   319907.0
52               Wyoming    25600.0    24958.0    25177.0
53                 Total  8479144.0  8603203.0  8575569.0

In [26]:
# Motorcycles that are registered split up by laws

legal_reg = motor_reg.loc[motor_reg["State"] =="California"]

somewhat_legal_reg = motor_reg.loc[motor_reg["State"].isin(["Utah","Hawaii"])]

not_mentioned_reg= motor_reg.loc[motor_reg["State"].isin(["Montana", "New Mexico", "Texas", "Oklahoma",
                                                                  "Missouri", "Arkansas", "Ohio", "Kentucky",
                                                                  "North Carolina", "West Virgina", "Delaware","Mississippi"])]

illegal_reg = motor_reg.loc[~motor_reg["State"].isin(["Montana", "New Mexico", "Texas", "Oklahoma",
                                                                  "Missouri", "Arkansas", "Ohio", "Kentucky",
                                                                  "North Carolina", "West Virgina", "Delaware","Mississippi",
                                                                  "California","Utah","Hawaii", "Total"])]

# Count of Registered Motorcycles calculated for all law groups:

legal_reg_2019 = legal_reg.iloc[0, 1]
legal_reg_2020 = legal_reg.iloc[0,2]
legal_reg_2021 = legal_reg.iloc[0,3]
legal_reg_total = legal_reg_2019 + legal_reg_2020 + legal_reg_2021

somewhat_legal_reg_2019 = somewhat_legal_reg.iloc[:, 1].sum()
somewhat_legal_reg_2020 = somewhat_legal_reg.iloc[:,2].sum()
somewhat_legal_reg_2021 = somewhat_legal_reg.iloc[:,3].sum()
somewhat_legal_reg_total = somewhat_legal_reg_2019 + somewhat_legal_reg_2020 + somewhat_legal_reg_2021

not_mentioned_reg_2019 = legal_reg.iloc[:, 1].sum()
not_mentioned_reg_2020 = legal_reg.iloc[:,2].sum()
not_mentioned_reg_2021 = legal_reg.iloc[:,3].sum()
not_mentioned_reg_total = not_mentioned_reg_2019 + not_mentioned_reg_2020 + not_mentioned_reg_2021

illegal_reg_2019 = illegal_reg.iloc[:, 1].sum()
illegal_reg_2020 = illegal_reg.iloc[:,2].sum()
illegal_reg_2021 = illegal_reg.iloc[:,3].sum()
illegal_reg_total = illegal_reg_2019 + illegal_reg_2020 + illegal_reg_2021

In [ ]:
# Motorcycle type affects safety of lane splitting (Calvin)

In [ ]:
# Motorcycle laws affects fewer crashes (Rail)

In [ ]:
# Motorcycle laws affects deadly crashes (Jack)

In [ ]:
# Motorcycle  laws affects injuries (Rachael)

In [ ]:
#compare UT years accidents with chart

In [ ]:
#compare ID years accidents with chart

In [ ]:
#compare UT & ID to CA with chart

In [ ]:
#compare COLL types