In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
from scipy import stats
import os
from pathlib import Path
%matplotlib inline

In [45]:
# pull in CSV df - 2019 through 2021 - vehicle csv
csv_path2019 = Path('CSV data/vehicle2019.csv')
csv_path2020 = Path('CSV data/vehicle2020.csv')
csv_path2021 = Path('CSV data/vehicle2021.csv')
# Since there are many columns, we need to remove the column cap
pd.set_option('display.max_columns', None)
vehicle2019_df = pd.read_csv(csv_path2019, encoding='cp1252', low_memory=False)
vehicle2020_df = pd.read_csv(csv_path2020, encoding='cp1252', low_memory=False)
vehicle2021_df = pd.read_csv(csv_path2021, encoding='cp1252', low_memory=False)

# Cleaning the data into the important bits
cleaned2019 = vehicle2019_df[['STATENAME','MONTHNAME','BODY_TYPNAME','DEATHS','BODY_TYP','OWNER','MAK_MODNAME','HARM_EVNAME', 'MAN_COLLNAME',
                               'VNUM_LAN']]
cleaned2020 = vehicle2020_df[['STATENAME','MONTHNAME','BODY_TYPNAME','DEATHS','BODY_TYP','OWNER','MAK_MODNAME','HARM_EVNAME', 'MAN_COLLNAME',
                               'VNUM_LAN']]
cleaned2021 = vehicle2021_df[['STATENAME','MONTHNAME','BODY_TYPNAME','DEATHS','ACC_TYPE','OWNER','MAK_MODNAME','HARM_EVNAME', 'MAN_COLLNAME',
                               'VNUM_LAN']]


# Renaming columns and filtering them
new_names = {"HARM_EVNAME": "Accident Type", "MAN_COLLNAME": "Vehicle Crash Description", "VNUM_LAN": "Lanes Involved",
             "BODY_TYP": "Vehicle Type ID", "STATENAME": "State Name", "MONTHNAME": "Month Name", "BODY_TYPNAME": "Body Type",
             "DEATHS":"Deaths", "OWNER": "Owner", "MAK_MODNAME": "Make and Model"}
fixed2019 = cleaned2019.rename(columns=new_names)
fixed2020 = cleaned2020.rename(columns=new_names)
fixed2021 = cleaned2021.rename(columns=new_names)

In [54]:
# Filters by potential lane splitting or filtering motorcycles exclusively
filtered2019 = fixed2019[(fixed2019['Vehicle Type ID'] == 80) & (fixed2019['Lanes Involved'] != 1)]
filtered2019.head(5)

,State Name,Month Name,MAKE,Body Type,Deaths,Vehicle Type ID,Owner,Make and Model,Accident Type,Vehicle Crash Description,Lanes Involved
24,Alabama,January,76,Two Wheel Motorcycle (excluding motor scooters),1,80,1,Yamaha 450-749cc,Motor Vehicle In-Transport,Angle,2
27,Alabama,January,76,Two Wheel Motorcycle (excluding motor scooters),1,80,1,Yamaha 750cc or greater,Rollover/Overturn,The First Harmful Event was Not a Collision wi...,2
35,Alabama,January,53,Two Wheel Motorcycle (excluding motor scooters),1,80,2,Suzuki 450-749cc,Motor Vehicle In-Transport,Front-to-Rear,5
172,Alabama,March,72,Two Wheel Motorcycle (excluding motor scooters),1,80,1,Harley-Davidson 750cc or greater,Live Animal,The First Harmful Event was Not a Collision wi...,2
182,Alabama,March,37,Two Wheel Motorcycle (excluding motor scooters),1,80,1,Honda 750 cc or greater,Motor Vehicle In-Transport,Angle,2

In [ ]:
#clean data for CA (Legal) -  years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

In [ ]:
#clean data for UT (Somewhat legal ) - years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

In [ ]:
#clean data for ID (Illegal) - years 2019 through 2021 - MONTHNAME - ACC_TYPE - OWNER - MAK_MODNAME- BODY_TYPNAME - HARM_EVNAME - MAN_COLLNAME - VNUM_LAN(exculed 1 lane)

In [ ]:
# Motorcycle type affects safety of lane splitting (Calvin)

In [ ]:
# Motorcycle laws affects fewer crashes (Rail)

In [ ]:
# Motorcycle laws affects deadly crashes (Jack)

In [ ]:
# Motorcycle laws affects injuries (Rachael)

In [ ]:
#compare CA years accidents with chart

In [ ]:
#compare UT years accidents with chart

In [ ]:
#compare ID years accidents with chart

In [ ]:
#compare UT & ID to CA with chart

In [ ]:
#compare COLL types